site_name: Bitxhub Document
repo_url: https://github.com/meshplus/bitxhub
repo_name: meshplus/bitxhub
extra_css:
  - stylesheets/extra.css
theme:
  custom_dir: 'docs/theme'
  logo: assets/logo.png
  name: material
  language: 'zh'
  features:
    - navigation.tabs
    - navigation.top
    - search.highlight
  font:
    # text: Roboto
    code: Roboto Mono
  palette:
    # - media: "(prefers-color-scheme: dark)"
    #   scheme: slate
    #   primary: black
    #   accent: blue
    #   toggle:
    #     icon: material/weather-sunny
    #     name: Switch to night mode
    # - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: blue
      toggle:
        icon: material/weather-night
        name: Switch to light mode
edit_uri: https://github.com/meshplus/bitxhub-docs/edit/master/docs

extra:
  version:
    provider: mike

# Extensions
markdown_extensions:
  - lightgallery:
      show_description_in_lightgallery: true
      show_description_as_inline_caption: true
      custom_inline_caption_css_class: 'my-caption-class'
  - pymdownx.highlight:
      linenums: false
      use_pygments: true
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

#extra_javascript:
#  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js
#  - javascripts/config.js
#extra_css:
#  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css

nav:
  - Home:
      - 产品介绍:
          - 平台介绍: bitxhub/introduction/summary.md
          - 基本概念: bitxhub/introduction/conception.md
          - 产品优势: bitxhub/introduction/advantage.md
          - 应用场景: bitxhub/introduction/scenaries.md
      - 整体架构:
          - 产品架构: bitxhub/architecture/flexible_arch.md
          - 技术架构: bitxhub/architecture/arch.md
          - 交易流程: bitxhub/architecture/tx_flow.md
      - 快速开始: bitxhub/quick_start.md
      - 部署使用:
          - 环境准备: bitxhub/usage/env.md
          - 整体说明: bitxhub/usage/overall_description.md
          - 单中继架构部署:
            - 中继链部署: bitxhub/usage/single_bitxhub/deploy_bitxhub.md
            - 跨链网关部署: bitxhub/usage/single_bitxhub/deploy_pier.md
          - 跨链网关直连模式部署: bitxhub/usage/direct_mode_pier/pier_direct_mode_deploy.md
          - 系统验证与交易流程体验: bitxhub/usage/status_verification.md
      - 产品功能:
        - 应用链管理:
          - 中继模式管理: bitxhub/function/relay_manager.md
          - 直连模式管理: bitxhub/function/direct_manager.md
        - 证书管理: bitxhub/function/cert_manage.md
        - 节点管理: bitxhub/function/node_manager.md
        - 统一身份管理: bitxhub/function/role_manager.md
        - 验证规则管理: bitxhub/function/rule_manager.md
        - 服务管理: bitxhub/function/service_manager.md
        - DApp管理: bitxhub/function/dapp_manager.md
        - 跨链合约调用: bitxhub/function/cross_invoke.md
      - 开发手册:
          - 中继链接口错误码: bitxhub/dev/error_code.md
          - 中继链接口列表:
            - 外部接口: bitxhub/dev//bitxhub_api/api.md
            - 内部接口: bitxhub/dev/bitxhub_api/inner_contract_interface.md
          - 命令行说明:
            - 中继链BitXHub: bitxhub/dev/cmd/bitxhub_cmd.md
            - 跨链网关Pier: bitxhub/dev/cmd/pier_cmd.md
          - 跨链合约开发: bitxhub/dev/cross_contract.md
          - 应用链插件编写: bitxhub/dev/plugin.md
          - 验证规则编写: bitxhub/dev/rule.md
          - 验证者信息生成: bitxhub/dev/validator.md
      - 设计文档:
          - 通用跨链协议IBTP: bitxhub/design/ibtp.md
          - 共识算法插件方案: bitxhub/design/consensus_plugin.md
          - 跨链事务方案: bitxhub/design/interchain_transaction.md
          - 跨链网关设计方案: bitxhub/design/pier_design.md
          - 隐私保护方案: bitxhub/design/privacy_protection.md
          - API流控设计: bitxhub/design/rate-limiter.md
          - 区块链浏览器后台设计: bitxhub/design/luka.md
      - 运维:
        - 查看日志: bitxhub/operation/node_log_view.md
        - 节点状态检测: bitxhub/operation/node_status_check.md
        - 异常问题处理: bitxhub/operation/exception_problem_handling.md
      - 版本发布记录:
          - BitXHub v1.18.0: bitxhub/changelog/bitxhub_v1.18.0.md
          - BitXHub v1.11.0: bitxhub/changelog/bitxhub_v1.11.0.md
          - BitXHub v1.6.0: bitxhub/changelog/bitxhub_v1.6.0.md
          - BitXHub v1.5.0: bitxhub/changelog/bitxhub_v1.5.0.md
          - BitXHub v1.4.0: bitxhub/changelog/bitxhub_v1.4.0.md
          - BitXHub v1.3.0: bitxhub/changelog/bitxhub_v1.3.0.md
      - 社区介绍: bitxhub/community_introduction.md
      - 加入我们: bitxhub/join_us.md
      - FAQ: bitxhub/faq.md
  - Goduck:
    - Quick started: goduck/quick_start.md
    - Getting started: goduck/index.md
    - CrossChain started: goduck/cross_chain.md
  - Premo:
    - 使用文档: premo/usage.md
  - SDK文档:
      - GoSDK使用文档: sdk/gosdk.md
      - JavaSDK使用: sdk/javasdk.md
      - JsSDK使用文档: sdk/jssdk.md
  - 跨链浏览器体验指南:
      - 使用文档: scan/index.md
      - 跨链网关接入: scan/deploy_pier_testnet.md
